

form {
    font-family: 'Raleway', sans-serif;
    color: #282828;
    
}

div{
    font-family: 'Raleway', sans-serif;
    color: #282828;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    label {
        font-family: 'Raleway', sans-serif;
    }
   
} 

