





.FoodFinder {
    img {
        display: block;
        max-width: 100%;
        
        
    }
}
main{
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

#root {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    
  
    
}
body{
    margin:0;
    padding:0;
}



